<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="https//www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorator="template1">
<head>
<meta charset="utf-8">
<title>Access Denied</title>
</head>
<body>

	<div layout:fragment="content">
		<div class="container">
			<div class="card bg-danger">
			<div class="card-body text-center">
				<p class="card-text">
				<h3>You are not authorized to access to this page</h3>
				</p>
			</div>
		</div>
		</div>
	</div>
</body>
</html>